body {
    background-color: cornsilk;
	font-family: 'Dosis', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 1.2em;
}

.navbar{
    background-image: url(/img/navbar.jpg);
 
    
}

.nosesc{
    background: linear-gradient(132deg, rgba(0,123,255,1) 0%, rgba(253,126,20,1) 55%);
    margin-top: 30px;

    
}

.margin{
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.border_img{
    border-radius: 50%;
    border-color: blue;
}

.anota{
    background-image: url(/img/anota.jpg);
    font-size: 1em;
}

.cola{
    background-color: #007bff;
    font-size: 1.4em;
}

.logo{
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5%;
}
.fandom{
    background-image: url(/img/fala.jpg);
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
}
.container-fluid{
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.fala{
    background: rgb(0,0,0, .6);
    color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px 3px blue;
    background-size: cover;
   
}
hr{
    background: white;
}
.fan_footer{
    background-color: rgb(167, 167, 241);
    background-size: 100%;
    margin: 30px;
}
.margin_logo{
    margin: 5px 10px 5px 10px;
}
